# Ignore installed npm packages
node_modules/

# ignore environment variables
.env

# Ignore eleventy output during manual tests
_site/

# Ignore eleventy-cached-assets
.cache/
cache

.vscode

**/.DS_Store

theme.css
