{% extends "layouts/base.njk" %} {% block content %}
<section class="hero container ff-serif">
  <h1 class="hero__title">I make Websites</h1>
  <h2 class="hero__title--name ff-sans uppercase">Hello, My Name is Atul</h2>
  <p class="hero__desc">
    I am Frontend Developer from India. I make beautiful, Responsive and
    Performant Websites. I also write about web on my
    <a href="/blog" class="hero__link">Blog</a> and
    <a href="{{ metadata.twitter }}" class="hero__link">Twitter</a>.
  </p>
</section>

{% include "partials/featured-post.njk" %} {% endblock %}
